{
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "flowtype",
    "react",
    "prettier"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
